<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'hospitalinindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="addfeedback1">
<table width="257" border="1"id="customers">
  <tr>
    <th width="162">feedback</th>
    <th width="79">
      <label>
        <input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}"/>
        </label>
   </th>
  </tr>
  <tr>
    <td colspan="2">
      <label>
        <input type="submit" name="Submit" value="add" value="SignUp"/>
        </label>

    </td>
  </tr>
</table>
</form>
</body>
{% endblock %}
<!--</html>-->
