<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<div align="center">
  <table width="217">
    <tr>
      <th width="175" scope="row">Fname</th>
      <td width="30"><form id="form2" name="form2" method="post" action="">
        <label>
          <input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}"/>
          </label>
        </form>      </td>
    </tr>
    <tr>
      <th scope="row">Lname</th>
      <td><form id="form3" name="form3" method="post" action="">
        <label>
          <input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}"/>
          </label>
        </form>      </td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td><form id="form4" name="form4" method="post" action="">
        <label>
          <input name="radiobutton" type="radio" value="radiobutton" checked/>
          Male 
          <input name="radiobutton" type="radio" value="radiobutton" />
          </label>
        Female
        </form>      </td>
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td>
        <label>
          <input type="text" name="textfield3" required min="1990-01-01" max="2019-12-31" />
          </label>
             </td>
    </tr>
    <tr>
      <th scope="row">Qualification</th>
      <td><form id="form6" name="form6" method="post" action="">
        <label>
          <input type="text" name="textfield4" required pattern="[A-Z a-z.]{3,25}"/>
          </label>
        </form>      </td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><form id="form7" name="form7" method="post" action="">
        <label>
          <input type="text" name="textfield5" required pattern="[A-Z a-z.]{3,25}" />
          </label>
        </form>      </td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><form id="form8" name="form8" method="post" action="">
        <label>
          <input type="text" name="textfield6" required pattern="[A-Z a-z.]{3,25}" />
          </label>
        </form>      </td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><form id="form9" name="form9" method="post" action="">
        <label>
          <input type="text" name="textfield7" required pattern="[0-9]{6}" />
          </label>
        </form>      </td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><form id="form10" name="form10" method="post" action="">
        <label>
          <input type="text" name="textfield8" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
          </label>
        </form>      </td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><form id="form11" name="form11" method="post" action="">
        <label>
          <input type="text" name="textfield9" required pattern="[6789][0-9]{9}"/>
          </label>
        </form>      </td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><form id="form1" name="form1" method="post" action="">
        <label>
          <input type="submit" name="Submit" value="Register" />
          </label>
        </form>      </th>
    </tr>
  </table>
</div>
</body>
</html>
