<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}

<body>
<div align="center">
  <form id="form1" name="form1" method="post" action="addnotification1">
  <table width="234" height="131">
    <tr>
      <th width="78" height="43" scope="row">Notification</th>
      <td width="144"><form id="form2" name="form2" method="post" action="">
        <label>
          <input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}" />
          </label>
      </form></td>
    </tr>
    <tr>
      <th height="80" colspan="2" scope="row">
        <label>
          <input type="submit" name="Submit" value="Add" />
          </label>
      </th>
    </tr>
  </table>
  </form>
</div>
</body>
{% endblock %}
<!--</html>-->
