<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'doctorinindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="addcomplaints1">
<table width="268" border="1">
  <tr>
    <td width="163">complaint</td>
    <td width="89">
      <label>
        <input type="text" name="textfield" required/>
        </label>
    </td>
  </tr>
  <tr>
    <td height="23" colspan="2">
      <label>
        <input type="submit" name="Submit" value="add" value="SignUp"/>
        </label>
    </td>
  </tr>
</table>
</form>
</body>
{% endblock %}

<!--</html>-->
