<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}
<body>
<div align="center">
  <table width="200" border="1"id="customers">
    <tr>
      <th scope="row">Name</th>
      <td>Place</td>
      <td>Post</td>
      <td>Pin</td>
      <td>Email</td>
      <td>Phone</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <th height="54" scope="row">&nbsp;{{i[2]}}</th>
      <td>&nbsp;{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>&nbsp;{{i[5]}}</td>
      <td>{{i[6]}}</td>
      <td>{{i[7]}}</td>
      <td><p><a href="/approvepharmacy1?id={{i[1]}}">Approve</a></p>
      <p><a href="/rejectpharmacy?id={{i[1]}}">Reject</a></p></td>
    </tr>
    {% endfor %}
  </table>
</div>
<div align="center"></div>
</body>
{% endblock %}
<!--</html>-->
