<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
      <form id="form1" name="form1" method="post" action="">

  <tr>
    <td>Name</td>
    <td>
      <label>
      <input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}" />

      </label>
       </td>
  </tr>
  <tr>
    <td>Specification</td>
    <td>
      <label>
        <input type="text" name="textfield5" required pattern="[A-Z a-z.]{3,25}" />

        </label>
       </td>
  </tr>
  <tr>
    <td>Date</td>
    <td>
      <label>
        <input type="text" name="textfield7" required min="1990-01-01" max="2019-12-31" required/>
        </label>
      </td>
  </tr>
  <tr>
    <td>
      <label>
      <input type="submit" name="Submit" value="Register" />
      </label>

    <td>
      <label></label>
    </form>    </td>
  </tr>
</table>
</body>
</html>
