<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'hospitalinindex.html' %}
{% block body %}
<body>
<div align="center">
  <table width="200">
    <!--<tr>-->
      <!--<th height="113" scope="row"><p><a href="/hospitalmodule">Hospital home</a></p>-->
      <!--<p><a href="/managedoctor">Add & manage doctor</a></p>-->
      <!--<p><a href="/viewfacility">Add & manage facility</a></p>-->
      <!--<p><a href="/viewdepartment">Add & manage department</a></p>-->
      <!--<p><a href="/viewbooking">View booking</a></p>-->
      <!--<p><a href="/">logout</a></p></th>-->
    <!--</tr>-->
  </table>
</div>
</body>
{% endblock %}
<!--</html>-->
