<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index.html' %}
{% block body %}
<body>
<form id="form7" name="form7" method="post" action="addpharmacy1">
  <label></label>
  <table width="286" border="1">
    <tr>
      <td width="38">Name</td>
      <td width="232"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label>
        <input type="text" name="textfield5" />
      </label></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label>
        <input type="text" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><label>
        <input type="text" name="textfield9" />
      </label></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><label>
        <input type="text" name="textfield10" />
      </label></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><label>
        <input type="text" name="textfield7" />
      </label></td>
    </tr>
    <tr>
      <td>password</td>
      <td><label>
        <input type="text" name="textfield8" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="Submit" value="Register" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
