<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'pharmacyinindex.html' %}
{% block body %}

<body>

<div align="center">
  <table width="455" height="282"id="customers">
    <!--<tr>-->
      <!--<th width="447" height="276" scope="row"><p><a href="/pharmacymodule">view profile</a></p>-->
      <!--<p><a href="/addlocation">add location</a></p>-->
      <!--<p><a href="/addmedicine">add & manage medicine details</a></p>-->
      <!--<p align="center"><a href="/viewmedicineorder">view medicine order</a></p>-->
      <!--<p><a href="/addfeedback">add feedback</a></p>-->
      <!--<p><a href="/">logout</a></p>-->
      <!--</th>-->
    <!--</tr>-->
  </table>
</body>
{% endblock %}

<!--</html>-->
