<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<div align="center">
  <table width="200" border="1">
     <form id="form1" name="form1" method="post" action="">
    <tr>


      <td>Fname</td>
      <td>
        <label>
          <input type="text" name="textfield3" required pattern="[A-Z a-z.]{3,25}" />

          </label>
          </td>
    </tr>
    <tr>
      <td>Lname</td>
      <td>
        <label>
          <input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}" />
        </label>
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>
        <label>
          <input name="radiobutton" type="radio" value="radiobutton" checked/>
          </label>
        Male 
        <label>
          <input name="radiobutton" type="radio" value="radiobutton" />
          </label>
        Female
      </td>
    </tr>
    <tr>
      <td>DOB</td>
      <td>
        <label>
          <input type="text" name="textfield6" required min="1990-01-01" max="2019-12-31" />

          </label>
         </td>
    </tr>
    <tr>
      <td>Place</td>
      <td>
        <label>
          <input type="text" name="textfield7" required pattern="[A-Z a-z.]{3,25}" />

          </label>
          </td>
    </tr>
    <tr>
      <td>Post</td>
      <td>
        <label>
          <input type="text" name="textfield9"  required pattern="[A-Z a-z.]{3,25}"/>
          </label>

        <label></label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td>
        <label>
          <input type="text" name="textfield12" required pattern="[0-9]{6}"/>

          </label>
        </td>
    </tr>
    <tr>
      <td height="30">Place</td>
      <td>
        <label>
          <input type="text" name="textfield13" />
          </label>
        </td>
    </tr>
    <tr>
      <td colspan="2">
        <label></label>
          <label>
          <input type="submit" name="Register" value="Register" />
          </label>
      </form></td>
    </tr>
  </table>
</div>
</body>
</html>
