<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'hospitalinindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="adddepartment">
  <div align="center">
    <table width="200" border="1"id="customers">
      <tr>
        <th>Department name </th>
        <th>Description</th>
        <th>&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td><p><a href="/editdepartment?id={{i[0]}}">edit</a></p>
        <p><a href="/deletedepartment?id={{i[0]}}">Delete</a></p></td>
      </tr>
      {% endfor %}
      <tr>
      <th colspan="3" scope="row">
        <label></label>
        <label>
        <input type="submit" name="Submit" value="add" />
        </label>
      </th>
    </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
<!--</html>-->
