<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'hospitalinindex.html' %}
{% block body %}
<body>
<div align="center">
  <table width="200" border="1"id="customers">
    <tr>
      <th scope="row">Patient name </th>
      <th>doctor_name</th>
      <th>Date</th>
      <th>&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">{{i[7]}} {{i[8]}}</th>
      <td>{{i[5]}} {{i[6]}}</td>
      <td>{{i[3]}} </td>
      <td><p><a href="/acceptbooking?id={{i[0]}}">Accept</a></p>
      <p><a href="/rejectbooking?id={{i[0]}}">Reject</a></p></td>
    </tr>
    {% endfor %}
  </table>
</div>
</body>
{% endblock %}
<!--</html>-->
